.buttonsWrap {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  margin-left: 10px;
}

.buttons {
  border-radius: 15px;
  background-color:  #7f83f5;
  padding: 5px 10px;
  border: 1px solid black;
}

.buttons:hover {
  cursor: pointer;
  background: white;
  color: #300df5;
  border: 1px solid #300df5;
}